<div  class="mdl-card__title mdl-card--expand">
			<h4 class="mdl-dialog__title">Profile</h4>
		</div>
		<div class="mdl-card__supporting-text">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-focused':txtRegEmail.value != null || txtRegEmail.isFocus == true}"> 
				<input id="txtRegEmail" type="email" class="mdl-textfield__input" disabled> 
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input  id="txtRegName" type="text" class="mdl-textfield__input">
				<label class="mdl-textfield__label">Full Name</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input  id="txtRegContact" type="text" class="mdl-textfield__input" >
				<label class="mdl-textfield__label">Contact</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input  id="txtRegBirthdate" type="text" class="mdl-textfield__input" >
				<label class="mdl-textfield__label">Birthdate</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input  id="txtRegOrganization" type="text" class="mdl-textfield__input" >
				<label class="mdl-textfield__label">Organization</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input  id="txtRegPosition" type="text" class="mdl-textfield__input" >
				<label class="mdl-textfield__label">Organization Position</label>
			</div>

		</div>
		<div class="mdl-dialog__actions">
			<button type="button" id="btnUpdate" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Update</button>
		</div>