<div class="jumbotron text-center">
	<table style="margin: 50px auto; text-align: center;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th style="width:200px;"><h4>Location</h4></th>
	      <th style="width:200px;"><h4>Relief Recieved</h4></th>
	      <th style="width:200px;"><h4>Comments</h4></th>
	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      	<td class="mdl-data-table__cell">Antipolo, Rizal</td>
 			<td class="mdl-data-table__cell">Food, Rice</td>
 			<td class="mdl-data-table__cell">Good Quality</td>
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Project 8, Quezon City</td>
 			<td class="mdl-data-table__cell">Water</td>
 			<td class="mdl-data-table__cell">Madumi, Kunti</td>	
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Jala-jala, Rizal</td>
 			<td class="mdl-data-table__cell">Medicine</td>
 			<td class="mdl-data-table__cell">Expired</td>
	    </tr>
	     <tr>
 			<td class="mdl-data-table__cell">Quezon Province</td>
   			<td class="mdl-data-table__cell">Can Goods</td>
   			<td class="mdl-data-table__cell">Expired</td>
	    </tr>
	  </tbody>
	</table>
</div>