<div class="jumbotron text-center">

	<table style="margin: 50px auto;" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th style="width:200px;"><h4>What</h4></th>
	      <th style="width:200px;"><h4>When</h4></th>
	      <th style="width:200px;"><h4>Where</h4></th>
		  <th style="width:200px;"><h4>Where</h4></th>
	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	    	<td class="mdl-data-table__cell">Red Cross Sagip Cebu 1</td>
	      	<td class="mdl-data-table__cell">04/01/17</td>
 			<td class="mdl-data-table__cell">Cebu City</td>
 			<td class="mdl-data-table__cell">Can Goods, Rice, Clothes, Water, Paracetamol</td>
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Red Cross Sagip Cebu 2</td>
	      	<td class="mdl-data-table__cell">04/02/17</td>
 			<td class="mdl-data-table__cell">Cebu City</td>
 			<td class="mdl-data-table__cell">Can Goods, Rice, Clothes, Water</td>
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Red Cross Sagip Cebu 3</td>
	      	<td class="mdl-data-table__cell">04/03/17</td>
 			<td class="mdl-data-table__cell">Cebu City</td>
 			<td class="mdl-data-table__cell">Can Goods, Rice, Clothes, Water</td>
	    </tr>
	     <tr>
 			<td class="mdl-data-table__cell">Red Cross Sagip Cebu 4</td>
	      	<td class="mdl-data-table__cell">04/04/17</td>
 			<td class="mdl-data-table__cell">Cebu City</td>
 			<td class="mdl-data-table__cell">Can Goods, Rice, Clothes, Water</td>
	    </tr>
	  </tbody>
	</table>


	
	<table style="margin: 50px auto;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

	  <thead>
	  <tr>
	  	<td style="text-align: right;" colspan="3">
	  		<h4>Feedback</h4>
	  		<i>Check relief operation above to show their respective feedbacks in this section.</i>
	  	</td>
	  </tr>
	    <tr>
	      <th style="width:200px;"><h4>Location</h4></th>
	      <th style="width:200px;"><h4>Relief Recieved</h4></th>
	      <th style="width:200px;"><h4>Comments</h4></th>
	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      	<td class="mdl-data-table__cell">Antipolo, Rizal</td>
 			<td class="mdl-data-table__cell">Food, Rice</td>
 			<td class="mdl-data-table__cell">Good Quality</td>
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Project 8, Quezon City</td>
 			<td class="mdl-data-table__cell">Water</td>
 			<td class="mdl-data-table__cell">Madumi, Kunti</td>	
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Jala-jala, Rizal</td>
 			<td class="mdl-data-table__cell">Medicine</td>
 			<td class="mdl-data-table__cell">Expired</td>
	    </tr>
	     <tr>
 			<td class="mdl-data-table__cell">Quezon Province</td>
   			<td class="mdl-data-table__cell">Can Goods</td>
   			<td class="mdl-data-table__cell">Expired</td>
	    </tr>
	  </tbody>
	</table>

	<!-- Colored FAB button -->
	<button ng-click="showDialog()" style="position:fixed;right:80px;bottom:40px;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
	  <i class="material-icons">add</i>
	</button>

	
</div>