<div class="jumbotron text-center">
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th>Email</th>
	      <th>Location</th>
	      <th>Food</th>
	      <th>Medicine</th>
	      <th>Clothes</th>
	      <th>Others</th>
	      <th>Date</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="item in reports">
	      <td class="mdl-data-table__cell">{{item.email}}</td>
 			<td class="mdl-data-table__cell">{{item.location}}</td>
    		<td class="mdl-data-table__cell">{{item.food}}</td>
     		<td class="mdl-data-table__cell">{{item.medicine}}</td>
      		<td class="mdl-data-table__cell">{{item.clothes}}</td>
       		<td class="mdl-data-table__cell">{{item.others}}</td>
        	<td class="mdl-data-table__cell">{{item.date}}</td>
	    </tr>
	  </tbody>
	</table>
</div>