<div class="jumbotron text-center">
	<h1>Sender</h1>

	<table style="margin: 50px auto; text-align: center;" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th style="width:200px;"><h4>Sender</h4></th>
	      <th style="width:200px;"><h4>Needs</h4></th>
	      <th style="width:200px;"><h4>Location</h4></th>
	      <th style="width:200px;"><h4>Rate</h4></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      	<td class="mdl-data-table__cell">Omana, Eduard</td>
 			<td class="mdl-data-table__cell">Water</td>
 			<td class="mdl-data-table__cell">Project 4, Quezin City, Metro Manila</td>
 			<td class="mdl-data-table__cell"> 20% </td>
   		
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Schwab, Cobi</td>
 			<td class="mdl-data-table__cell">Food, Water</td>
 			<td class="mdl-data-table__cell">Palmera 5 Antipolo, Rizal</td>
 			<td class="mdl-data-table__cell"> 50% </td>
   			
	    </tr>
	     <tr>
	      	<td class="mdl-data-table__cell">Chua, Bernard</td>
 			<td class="mdl-data-table__cell">Medicine</td>
 			<td class="mdl-data-table__cell">Pinamungahan Cebu</td>
 			<td class="mdl-data-table__cell">80%</td>
   	
	    </tr>
	     <tr>
 			<td class="mdl-data-table__cell">Canoy, Renniel</td>
   			<td class="mdl-data-table__cell">Other: Love, Food</td>
   			<td class="mdl-data-table__cell">Paracelis Mountain Province</td>
 			<td class="mdl-data-table__cell">10%</td>
	    </tr>
	  </tbody>
	</table>

</div>